<% provide(:title, 'Awesome Foundation') %>
		<div class ="back">
			<%= link_to image_tag('backarrow.png', class: "center"), root_path %>
		</div>
		<div id="content" class = "center">
			<h1>Awesome Foundation: Detroit</h1>
			<%= image_tag('awesomenews.jpg', class: "center border") %>
			<p>
				Awesome Foudnation: Detroit is a micro-grant foundation that is focused on funding news and community information projects in metro Detroit.
			</p>
			<a href = "http://www.awesomefoundation.org/en/chapters/detroitnews" target="_blank">Awesome news Taskforce: Detroit</a>
		</div>