<video autoplay loop muted poster="<%=asset_path 'videobackground.png'%>" id="bgvideo" >
	<source src="https://player.vimeo.com/external/149604362.hd.mp4?s=59a3faf6add2bba976fdb8bae4a1631168366141&profile_id=113" type="video/mp4">
</video>

<div class="fluid-container" id ="quotes-container">
	<div class="row center" id = "quotes-row">
		<div class="col-xs-12">
			<div class="tlt quotes">
				<ul class="texts">
					<li>High-tech R&D Engineer turned Entertainer-prenuer</li>
					<li>Electrical Engineer with Master's in Control Theory & Robotics </li>
					<li>Co-Founder, MegaBots, Inc. </li>
					<li>President, i3Detroit</li>
					<li>President, Volcano Technologies</li>
					<li>Senior Controls Engineer, Eaton Corporate R&D</li>
					<li>Competitor in Red Bull's 72-hour Creation Challenge</li>
					<li>Featured by CNN, Fast Company, Business Insider, Engadget, Popular Science, and Playboy</li>
					<li>Programmer, Scientist, Machinist, Producer, and Entreprenuer
				</ul>
			</div>
		</div>
	</div>
</div>

