<% provide(:title, 'i3detroit') %>
<div class ="back">
	<%= link_to image_tag('backarrow.png'), root_path, class: "center" %>
</div>
<div id="content" class = "center">
	<h1>i3 Detroit</h1>
	<%= image_tag('i3detroit.jpg', class: "center border") %>
	<p>
		i3 Detroit is a member-run co-working space. It gives the community a resource for unleashing their full creative potential.
		Serving as the organization's president since 2011, I helped grow this organization from a 50 member club to a 110+ member 501(c)(3) federal non-profit organization.
	</p>
	<h2>In The Press:</h2>
	<ul>
		<li>
			<a href = "http://www.theverge.com/2013/9/25/4740634/i3-detroit-and-the-joy-of-mind-controlled-flamethrowers" target="_blank">The Joy of Mind Controlled Flamethrowers</a>
		</li>
		<li>
			<a href = "http://blog.thedetroithub.com/2011/10/27/i3-detroit-hack-space-merges-art-and-tech/" target="_blank">i3 Detroit hack space merges art and tech - Detroit Unspun</a>
		</li>
		<li>
			<a href = "http://ferndale115.com/nuevo/2012/08/27/what-is-i3-detroit-video/" target="_blank">What is i3 Detroit? - Ferndale115</a>
		</li>
		<li>
			<a href = "http://www.detroitmoxie.com/home/2011/2/21/hackerspaces-the-community-centers-of-the-future.html" target="_blank"> Hackerspaces: The Community Centers of the Future - Detroit Moxie</a>
		</li>
		<li>
			<a href = "http://www.metromodemedia.com/features/makerspaces0259.aspx">Photo Essay: Where Metro Detroit Invents - Metromode</a>
		</li>
	</ul>
	<h2>Connect:</h2>
	<ul>
		<li>
			<a href = "http://www.i3detroit.com/" target="_blank">i3Detroit.com</a>
		</li>
		<li>
			<a href = "https://www.facebook.com/i3detroit" target="_blank">facebook.com/i3Detroit</a>
		</li>
		<li>
			<a href = "https://twitter.com/i3Detroit" target="_blank">@i3Detroit</a>
		</li>
		<li>
			<a href = "mailto:contact@i3detroit.com" target="_blank">contact@i3Detroit.com</a>
		</li>
	</ul>
</div>
