<% provide(:title, 'MegaBots, Inc.') %>
<div class ="back">
	<%= link_to image_tag('backarrow.png'), root_path, class: "center" %>
</div>
<div id="content" class = "center">
	<h1>MegaBots Inc.</h1>
	<h2>
	Making the world more epic, one giant robot at a time.
	</h2>
	<%= image_tag('megabots.jpg', class: "center border") %>
	<p>
		MegaBots, Inc. is a company I co-founded. We are creating the sports league of the future with giant 15 foot tall walking robots.
	</p>
	<a href = "http://megabots.com/" target="_blank">megabots.com</a>
	</br>
	<a href = "http://facebook.com/megabotsinc" target="_blank"> facebook.com/megabotsinc</a>

	<h2>In The Press:</h2>
	<ul>
		<li>
			<a href = "http://www.businessinsider.com/megabots-at-new-york-comic-con-2014-10" target="_blank">Business Insider - The Next Billion Dollar Sports League Could Be Giant Robots That Fight To The Death</a>
		</li>
		<li>
			<a href = "http://www.rollingstone.com/culture/lists/10-best-things-we-saw-and-heard-at-new-york-comic-con-20141014/giant-battle-robots-coming-soon-to-a-kickstarter-near-you-20141014" target="_blank"> Rolling Stone - 10 Best Things We Saw and Heard at New York Comic Con</a>
		</li>
		<li>
		<a href = "http://www.engadget.com/2014/10/10/megabots/" target="_blank">
		Engadget - MegaBots wants to make your giant battle mech dreams come true
		</a>
		</li>
		<li>
		<a href = "http://www.bostonmagazine.com/news/blog/2014/10/08/megabot-somerville-artisans-asylum/" target="_blank"> Boston Magazine - Somerville’s ‘MegaBot’ Heads to New York Comic Con</a>
	</ul>
</div>
