<div class ="back">
	<%= link_to image_tag('backarrow.png'), root_path, class: "center" %>
</div>
<div id="content" class = "center">
	<h1>Mind Flame</h1>
	<%=image_tag('mindflame.jpg', class: "center border")%>
	<p>
		Mind Flame is a brainwave activated flame effects display created by Matt Oehrlein
		and Ed Platt at the i3 Detroit hackerspace.
	</p>
	<h2>In The Press:</h2>
	<ul>
		<li>
			<a href = "http://www.theverge.com/2013/9/25/4740634/i3-detroit-and-the-joy-of-mind-controlled-flamethrowers" target="_blank">The Joy of Mind Controlled Flamethrowers</a>
		</li>
		<li>
			<a href = "http://www.metromodemedia.com/features/cooltechmetrodetroit0277.aspx" target="_blank">5 Really Cool inventions in Meto Detroit - MetroMode</a>
		</li>
		<li>
			<a href = "http://www.sparkfun.com/news/944" target="_blank">Maker Faire Detroit Recap Video - Sparkfun Electronics</a>
		</li>
		<li>
			<a href = "http://blog.makezine.com/2012/07/27/maker-faire-detroit-mind-flame-interview/" target="_blank"> Maker Faire Detroit Mind Flame Interview - Make: Blog</a>
		</li>
		<li>
			<a href = " http://blog.thehenryford.org/2012/07/makers-gotta-make/" target="_blank">Makers Gotta Make - The Henry Ford Blog</a>
		</li>
	</ul>
	<h2>On Facebook:</h2>
	<a href="http://www.facebook.com/MindFlameMakers" target="_blank">www.facebook.com/MindFlameMakers</a>
</div>