<% provide(:title, 'Twitter Sign') %>
<div class ="back">
	<%= link_to image_tag('backarrow.png'), root_path, class: "center" %>
</div>
<div id="content" class = "center">
	<h1>LED Twitter Sign</h1>
	<%= image_tag('twittersign.jpg', class: "center border")%>
	<p>
		This sign was designed to be a portable interactive display. One user wears the sign, while the other
		users tweet to a specific twitter tag to display their message on the sign.
	</p>
</div>