<% provide(:title, 'Volcano Technologies') %>
<div class ="back">
	<%= link_to image_tag('backarrow.png'), root_path, class: "center" %>
</div>
<div id="content" class = "center">
	<h1>Volcano Technologies LLC</h1>
	<%= image_tag('volcano.jpg', class: "center border") %>
	<p>
		Volcano Technologies is an electronics design services company that I founded.
	</p>
	<a href = "http://volcanotechnologies.com/" target="_blank">volcanotechnologies.com</a>
</div>
