//@import "bootstrap";

head{
	margin:0px;
	padding:0px;
}
body{
	margin:0px;
	padding:0px;
}

* {
	font-family: "Helvetica Neue",  "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana", Helvetica, Arial, sans-serif;
	color: #888;
	font-weight: 100;
	font-size: 18pt;
	//line-height: 1.3;
}

h1 {
	font-size: 32pt;
}

h2 {
	font-size: 22pt;
}

ul {
	list-style-type: none;
}

#content {
	position:relative;
	top:60px;
	margin: 0px 110px 110px 110px;
	padding-left: 10px;
	padding-right: 10px;
}

#title {
	font-size: 32pt;
	top: 600px;
}
#quote-container{
	margin: 80px 0px 80px 0px;
}
#quote-person {
	text-align: right;
}
#picture-container {
	width:640px;
	height:427px;
}

#picture-slider{

}
#projects-container {
	float:none;
	position:relative;
	display:block;

}

#CV li{
	font-size:18pt;
}
#projects-title{

}
#projects-tiles{
	/*vertical-align: baseline; *//*this is just the default behavior*/
	position: relative; /** Needed to ensure items are laid out relative to this container **/
	padding: 0 0 0 40px;
}
#projects-tiles li div.project-overlay{
	position:absolute;
	opacity: 0;
	height:inherit;
	width:inherit;
	background: rgba(0,0,0,.6);
	color:white;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

#projects-tiles li div.project-overlay:hover{
	opacity: 1;
}
.project-overlay-header{
	display:block;
	margin:40px 20px 20px 20px;
	font-size:22pt;
	color:inherit;

}
.project-overlay-text{
	display:block;
	margin: 20px 20px 20px 20px;
	color:inherit;
}

.border {
	border: 3px;
	border-style: solid;
	border-color: #888;
}

#projects-tiles li{
	list-style-type: none;
	width:320px; 
	height:213px;
	margin: 5px;
	display:none; /** Hide items initially to avoid a flicker effect **/
	cursor: pointer;
	padding: 0 0 0 0px;
	border: 3px;
	border-style: solid;
	border-color: #888;
	  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
#projects-tiles li img{
	display:block;
	width:inherit; 
	height:inherit;
}
#contact-container {
	display:block;
	opacity:0;
	position: relative;
	left: -400px;
}

#mc_embed_signup_title{

}

/* Add your own MailChimp form style overrides in this style block. */

#mc_embed_signup{
	/*background:#fff; 
	clear:left; */
	display:block;
	position: relative;
	font:14px Helvetica,Arial,sans-serif; 
}


p{
	font-weight:100;
}
.center {
	margin-left:auto;
	margin-right:auto;
}

.quote {
	font-size: 48pt;
	font-weight: 100;
}
.smallcaps{
	font-variant:small-caps;
}

.back {
	position:fixed;
	width:60px; 
	height:60px;
	top: 69px;
	left: -400px;
	background: rgba(0,0,0,.6);
	/*border-radius: 15px;
	*	-moz-border-radius: 15px;
	*/
	color:black;
	opacity:0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
	img{
		opacity:.5;
		-webkit-transition: opacity 0.3s ease-out;
	    -moz-transition: opacity 0.3s ease-out;
	    -o-transition: opacity 0.3s ease-out;
	    transition: opacity 0.3s ease-out;
	  &:hover{
	  		opacity:.9;
	  }
	}
}